<link rel="stylesheet" href="/public/styles/styleBanks.css">

<div id="banks">
    <ul id="bancos-list">
        <a href="/banks/maximusbank"><li id="btn-maximus">BANCO MAXIMUS - LTDA</li></a>
        <li id="btn-geeksme"> BANCO GEEKSME</li>
        <li id="btn-imperius">BANCO IMPERIUS FORT</li>
    </ul>

    <a href="/"><input type="button" value="voltar" id="btn-back"></a>
</div>