<link rel="stylesheet" href="/public/styles/styleGeral.css">
<style>
    #nav-menu-home {
        position: absolute;
        list-style: none;
        color: rgba(127, 127, 127, 0.822);
        font-family: sans-serif;
        display: flex;
        justify-content: space-around;
        top: 3vh;
        right: 22vh;
        width: 20%;
        font-size: 12pt;
    }

    #nav-menu-home li {
        cursor: pointer;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    @media only screen and (min-device-width : 320px) and (max-device-width : 580px) {
        #nav-menu-home {
            width: 35%;
        }
        #title01{
            font-size: 14pt;
        }
    }
</style>

<div id="home">
    <img src="/public/medias/Vector 1.png" id="painel">
    <div id="title01">NOVA CENTRAL FINANCEIRA</div>
    <a href="/login"><input type="button" id="all-btn" value="ENTRAR"></a>
    <div id="nav-menu-home">
        <li><a href="/shops/dashboard">lojas</a></li>
        <li>sobre</li>
    </div>
    {{#if msgdeslog}}
    <div class="msg-error" id="msg-element">você foi deslogado</div>
    <script>
        setTimeout(() => {
            let msg = document.getElementById("msg-element")
            msg.classList.add("active");
            console.log("adicionando classe")
        }, 700)

    </script>
    {{/if}}
</div>